name: tests
on:
  push:
    branches-ignore:
      - 'private/**'
  pull_request:
    branches-ignore:
      - 'private/**'
  create:
    branches-ignore:
      - 'private/**'
jobs:
  build:
    runs-on: macos-12
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: setup Java
      uses: actions/setup-java@v1
      with:
        java-version: 17
    - name: run tests
      uses: reactivecircus/android-emulator-runner@v2.27.0
      with:
        api-level: 29
        script: tools/ci-build.sh
      env:
        KEYSTORE: ${{ secrets.KEYSTORE }}
        SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}
        SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
        SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
    - uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: dist/*.apk
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
